---
interface Props {
    className: string;
    href: string;
    label: string;
    tooltip: string;
}

const { className, href, label, tooltip }: Props = Astro.props;
---

<a
    class=`ui ${className} button`
    href={href}
    target="_blank"
    data-tooltip={tooltip}
>
    <i class=`${className} icon`></i>
    {label}
</a>

<style>
    i {
        color: var(--white) !important;
    }
</style>
