---
interface Props {
    title: string;
    summary: string;
    tech: string[];
    url?: string;
    description: string;
    icon?: string;
    emoji?: string;
    promo: string;
}

const { title, summary, tech, url, description, icon, emoji, promo }: Props =
    Astro.props;

// Tech categories to determine label color
const languages = new Set([
    "Python",
    "JavaScript",
    "TypeScript",
    "HTML",
    "CSS",
    "Bash",
    "ELisp",
    "PHP",
]);
const libraries = new Set(["React", "Angular", "Astro", "Laravel", "Redux"]);
const deploy = new Set(["Heroku", "GH Pages", "AWS EC2", "Docker"]);
const database = new Set(["MySQL", "SQLite"]);
const misc = new Set([
    "Twitter API",
    "Pytest",
    "MapReduce",
    "BeautifulSoup",
    "iCal",
    "Unix",
    "Datadog",
]);

const getLabelStyle = (tech: string) => {
    let backgroundColor;
    let fontColor;

    if (languages.has(tech)) {
        backgroundColor = "var(--blue-2-bright)";
        fontColor = "var(--white)";
    } else if (libraries.has(tech)) {
        backgroundColor = "var(--blue-1)";
        fontColor = "var(--white)";
    } else if (deploy.has(tech)) {
        backgroundColor = "var(--light-gray)";
    } else if (database.has(tech)) {
        backgroundColor = "var(--blue-3)";
        fontColor = "var(--white)";
    } else if (misc.has(tech)) {
        backgroundColor = "var(--blue-4)";
    } else {
        return "var(--white)";
    }
    return {
        backgroundColor: backgroundColor,
        color: fontColor,
    };
};
---

<div class="ui card">
    <div class="content">
        <div class="left floated image">
            {
                icon && (
                    <i
                        class={`${icon} big icon`}
                        style="width: 3em; line-height: normal;"
                    />
                )
            }
            {emoji && <em data-emoji={emoji} class="medium" />}
        </div>
        <div class="header">
            {title}
        </div>
        <div class="meta">{promo}</div>
        <div class="description">{summary}</div>
        {
            url ? (
                <a href={url} target="_blank">
                    <div class={`ui right floating icon label`}>
                        <i
                            class={`${url.includes("github") ? "github" : "external"} icon`}
                        />
                    </div>
                </a>
            ) : null
        }
    </div>
    <div class={`extra content`}>
        <div class="ui labels">
            {
                tech.map((t) => (
                    <div class="ui label" style={getLabelStyle(t)}>
                        {t}
                    </div>
                ))
            }
        </div>
    </div>
</div>

<style>
    /* Fomantic overrides */
    .ui.card {
        background: var(--background-color) !important;
        box-shadow:
            0 1px 3px 0 var(--accent),
            0 0 0 1px var(--accent) !important;

        margin: 20px;
    }

    .ui.card > .content > .header,
    .ui.card > .content > .description,
    .ui.card > .extra,
    .ui.card .meta {
        color: var(--text-color) !important;
    }

    .ui.card .meta {
        opacity: 0.5;
        font-size: 0.9em;
    }

    .ui.card > .extra {
        border-top: 1px solid var(--accent) !important;
    }
</style>
